@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AhorroDB</h1>
    <p class="lead">AhorroDB Es el sistema de gestion bancario más accequible para ti! empieza hoy mismo.</p>
    <p><button class="btn btn-primary btn-lg ">@Html.ActionLink("Registrate", "Index", "Clientes" ,null, new{ @class ="linke"} )  &raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestiona un Prestamo!</h2>
        <p>
            Puedes comenzar tu credito y gestionar tus prestamos
        </p>
        <p><button class="btn btn-default" ">@Html.ActionLink("Registrate", "Index", "prestamos1", null, new { @class = "linkeB" }) &raquo;</button></p>
    </div>
    <div class="col-md-4">
        <h2>Gestiona tu Inversion</h2>
        <p>Invierte en nosotros hoy mismo, gestiona todos los datos en tiempo real!</p>
        <p><button class="btn btn-default">@Html.ActionLink("Registrate", "Index", "inversion1", null, new { @class = "linkeB" }) &raquo;</button></p>
    </div>
    <div class="col-md-4">
        <h2>Gestiona tu Cuenta</h2>
        <p>Gestiona tu cuenta de banco con unos cuantos clicks, en cualqquier momento, y en cualquier lugar!.</p>
        <p><button class="btn btn-default"> @Html.ActionLink("Registrate", "Index", "CuentaBancarias", null, new { @class = "linkeB" }) &raquo;</button></p>
    </div>
</div>